* {
  font-family: 'Bree Serif', serif;
  color: white;
}

.typing-box {
  text-align: center;
}

.main-content {
  text-align: center;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #550000;
  border-color: #550000;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-style: solid;
  border-color: #550000;
}

.singleProject {
  width: 50%;
  display: flex;
  align-content: center;
}

.projectImage {
  width: 100%;
}

.mainPage {
  height: 5em;
  margin: 0.5em;
  background-color: #233237;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #18121E;
}

.navbar {
  background-color: #233237;
}
